#burgerPicture {
    width: 200px;
    text-align: center;
    border-radius: 10px;
}
.container-fluid{
    background-color: rgb(4, 133, 219);
}

.title{
    font-family: 'Comfortaa', cursive; 
    font-weight: bold;
}



ul, li, input {
    background-color:#68cae7;
}

.d-inline-flex{
    font-size: 20px;
}    
h1, h3 {
    color: khaki;
    font-family: 'Comfortaa', cursive;
}


.form-control{
    width: 300px!important;
}